<?xml version="1.7"?>
<model>
    <name>Car Bot Model</name>
    <version>1.7</version>
    <sdf>car_robot.urdf</sdf>
    <sdf>world.sdf</sdf>
    <author>
        <name>zahid</name>
        <email>zahid@nextaisense.com</email>
    </author>
    <description>ROS_GAZEBO Integrated Project</description>
</model>
